.header {
    background-color: #1A237E;
    height: 70px !important;
    display: block;
    padding: 0;
    list-style: none;
}

.headerName {
    font-size: 27px;
    margin-left: 20px;
    margin-top: 20px;
    color: ghostwhite;
}