<app-Sidebar [activeScreen]="pageName" [isActive]="true"></app-Sidebar>
<div class="main-panel">
  <ng-container *ngIf="showContent">
    <app-header [pageName]="pageName"></app-header>
  </ng-container>
  <div class="content">
    <div class="container-fluid">
      <div class="row" *ngIf="showContent">
          <div class="col-md-3">
              <label>Vendor</label>
              <select class="dropdown_ select" (change)="getImportTransactions($event.target.value)" [(ngModel)]="selectedVendor">
            <option >Select</option>
            <option *ngFor="let vendor of allVendors" [value]="vendor._id" 
                [selected]="vendor._id == _id">
              {{vendor?.name}}
            </option>
          </select>
          </div>
          <div class="col-md-3" >
              <label>Product</label>
              <select class="dropdown_ select" (change)="getImportTransactions('',$event.target.value)" [(ngModel)]="selectedProduct">
            <option>Select</option>
            <option *ngFor="let product of productData" [value]="product._id" 
                [selected]="product._id == _id">
              {{product?.name}}
            </option>
          </select>
          </div>
          <div style="margin-right: 30px; margin-left: 15px col-md-3">
            <date-range-picker (rangeSelected)="dateChange($event)" autoApply="false"></date-range-picker>
          </div>
          <div class="col-md-3" style="text-align: end; " *ngIf="showTable">
            <button type="button" class="btn btn-blue text-center" (click)="getReport()">Download report</button>
          </div>
      </div>
      <div #content style="margin-top: 20px; margin-bottom: 20px" *ngIf="showTable">
          <div *ngIf="!showContent" style="margin-top: 20px; margin-bottom: 20px">
            <div class="row">
                <div class="invoice-title col-md-12 text-center">
                    <h2><p class="text-center">Report</p></h2>
                </div>
            </div>
            <div class="row">	
                <hr>
                <div class="col-md-2">
                    <span id="warehouseLogo">
                        <img src="F:\Santosh\Personal\Project\spacevalet change\spacevalet new\spacevalet\static\home\dist\img\truck.jpg" width="180" height="150">
                    </span>	
                </div>
                <div class="col-md-8">
                    <strong><p class="text-center" id="warehouseName">{{warehouseData.name}}</p>
                    <p class="text-center" id="warehouseAdd">{{warehouseData.address}}</p></strong>
                </div>
                <div class="col-md-2 text-right">
                    <strong>Mob: </strong><span id="billToUserName">{{warehouseData.ownerContactNumber}}</span>
                </div>
            </div>
        </div>
        <app-table (OnPageChange)="changePage($event)" (OnView)="showUpdateModal($event)"
        [items]="items" [isView]="true"
        [paginationObject]="paginationObject"></app-table>
        
      </div>
    </div>
    <ng-container *ngIf="showTransactionDetails">
      <div class="modal-class fade-class">
        <div class="modal-dialog" style="min-width: 100%; height: 100%; margin: 0; padding: 0;" >
        <div class="modal-content" style="height: auto;min-height: 100%; border-radius: 0;">
            <div class="modal-header">
              <button type="button" class="close" (click)="disableDetailsModal()">&times;</button>
            </div>
            <div class="modal-body">
              <div class="card2 card border-0 px-4 py-5">
                <app-invoice [orderDetails]="updateDetails" ></app-invoice>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="showContent">
    <app-footer></app-footer>
  </ng-container>
  
</div>