
<app-Sidebar [activeScreen]="pageName" [isActive]="true"></app-Sidebar>
<div class="main-panel">
  <app-header [pageName]="pageName"></app-header>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="container-fluid">
          <div class="row" style="margin-top: 15px">
             <button type="button" class="btn btn-blue text-center" (click)="showVendorModal()">Add Product</button> 
          </div> 
          <div style="margin-top: 20px; margin-bottom: 20px" *ngIf="showTable">
             <app-table (OnPageChange)="changePage($event)"  (OnDelete)="deleteProduct($event)" (OnEdit)="showUpdateModal($event)" [items]="items" [isDelete]="true" [isEdit]="true" [paginationObject]="paginationObject"></app-table>
         </div>
       </div>
       
       <ng-container *ngIf="showNewVendorModal">
         <div class="modal-class fade-class">
             <div class="modal-dialog">
               <div class="modal-content">
               
                 <!-- Modal Header -->
                 <div class="modal-header">
                   <h4 class="modal-title">{{modalHeader}}</h4>
                   <button type="button" class="close" (click)="disableVendorModal()">&times;</button>
                 </div>
                 <!-- Modal body -->
                 <div class="modal-body">
                     <div class="card2 card border-0 px-4 py-5">
                         <form class="form-signin" [formGroup]="productForm">
                             <div class="form-group row px-3">
                               <label class="mb-1">
                                   <h6 class="mb-0 text-sm">Product Name</h6>
                               </label>
                               <input formControlName="productName" [ngClass]="{ 'is-invalid': submitted && f.productName.errors }" type="text"  class="form-control"  placeholder="Enter product name"> 
                               <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
                                   <div *ngIf="f.productName.errors.required">Please add contact number</div>
                               </div>
                             </div>
                             <div class="form-group row px-3">
                                 <label class="mb-1">
                                     <h6 class="mb-0 text-sm">Select Vendor</h6>
                                 </label>
                               <select formControlName="vendorId" [ngClass]="{ 'is-invalid': submitted && f.vendorId.errors }" type="text"  class="form-control dropdown_ select">
                                <option *ngIf="!isUpdateForm">Select</option>
                                <option *ngIf="isUpdateForm" [value]="selectedVendorId" selected>{{selectedVendorName}}</option>
                                <option *ngFor="let vendor of allVendors" [value]="vendor?._id">
                                 {{vendor?.name}}
                                </option>
                               </select>
                               <div *ngIf="submitted && f.vendorId.errors" class="invalid-feedback">
                                   <div *ngIf="f.vendorId.errors.required">Please select vendor belongs to this product</div>
                               </div>
                             </div>
                             <div class="form-group row px-3">
                                 <label class="mb-1">
                                     <h6 class="mb-0 text-sm">Select Packaging Type</h6>
                                 </label>
                               <select formControlName="packagingType" [ngClass]="{ 'is-invalid': submitted && f.packagingType.errors }" type="text"  class="form-control dropdown_ select">
                                <option *ngIf="!isUpdateForm">Select</option>
                                <option *ngIf="isUpdateForm" [value]="selectedPackageId" selected>{{selectedPackageName}}</option>
                                <option *ngFor="let package of allPackageType" [value]="package?._id">
                                 {{package?.packagingType}}
                                </option>
                               </select>
                               <div *ngIf="submitted && f.packagingType.errors" class="invalid-feedback">
                                   <div *ngIf="f.packagingType.errors.required">Please select packaging type</div>
                               </div>
                             </div>
                             
                             <div class="form-group row px-3">
                               <label class="mb-1">
                                   <h6 class="mb-0 text-sm">Rate</h6>
                               </label>
                               <input formControlName="rate" [ngClass]="{ 'is-invalid': submitted && f.rate.errors }" type="text"  class="form-control"  placeholder="Enter package wise rate"> 
                               <div *ngIf="submitted && f.rate.errors" class="invalid-feedback">
                                   <div *ngIf="f.rate.errors.required">Please add product rate per package</div>
                                   <div *ngIf="f.rate.errors.min">Rate must be greater than 0</div>
                               </div>
                               
                             </div>
                         </form>
                         
                       </div>
                 </div>
                 <!-- Modal footer -->
                 <div class="modal-footer">
                   <button *ngIf="!isUpdateForm" type="button" class="btn btn-blue text-center" (click)="addProduct()">Add</button>
                   <button *ngIf="isUpdateForm" type="button" class="btn btn-blue text-center" (click)="editProduct()">Update</button>
                 </div>
                 
               </div>
             </div>
           </div>
       </ng-container>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>


