@media screen and (max-width: 991px) {
    .card2 {
        margin: 0px 0px !important
    }
    .border-line {
        border-right: none;
        display: none;
    }
}

.card2 {
    margin: 0px 0px !important
}