<div class="table-responsive">
    <table class="table table-striped center">
        <thead>
            <tr class="tableHeading">
                <ng-container *ngFor="let head of items[0] | keys | paginate: paginationObject;let i of index ">
                    <ng-container *ngIf="head != 'id'">
                        <th>
                            {{head}}
                        </th>
                    </ng-container>
                </ng-container>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="tbodycenter">
            <tr *ngFor="let item of items">
                <ng-container *ngFor="let list of item | keys | paginate: paginationObject;let i of index">
                    <ng-container *ngIf="list != 'id'">
                        <td>
                            {{item[list]}}
                        </td>
                    </ng-container>
                </ng-container>
                <td>
                    <i *ngIf="isEdit" class="iconEdit" (click)="editMethod(item)">Edit</i><br *ngIf="isEdit" />
                    <i *ngIf="isDelete" class="iconDelete" (click)="deleteMethod(item)">Delete</i><br *ngIf="isDelete" />
                    <i *ngIf="isView" class="iconDelete" (click)="viewMethod(item)">View</i><br *ngIf="isView" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="margin-top: 15px; text-align: end;">
    <pagination-controls previousLabel="Previous" nextLabel="Next" maxSize="8" (pageChange)="pageChange($event)" class="my-pagination" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
</div>

