<!-- <ngx-loading [show]="loading" [config]="{ 
    backdropBackgroundColour: 'rgba(255,255,255,0.3)', backdropBorderRadius: '10px',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }" [template]="customLoadingTemplate"></ngx-loading> -->
<ng-container *ngIf="loading">
    <div class="loader-background"><div class="loader"></div></div>
</ng-container>

<div style="margin-left: 10%; margin-right: 10%;">
    <div class="alert alert-success alert-dismissible" *ngIf="isSuccess">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{message}}</strong>
    </div>
    <div class="alert alert-danger alert-dismissible" *ngIf="isError">
        <button type="button" class="close" data-dismiss="alert" (click)="disablePopUp()">&times;</button>
        <strong>{{message}}</strong>
    </div>

    <div class="toast" *ngIf="isError">
        <div class="toast-body">
            {{message}}
        </div>
    </div>
</div>

<router-outlet></router-outlet>
