<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
       <div class="row d-flex">
          <div class="col-lg-6">
             <div class="card1 pb-5">
                <div class="row"> <img src="https://i.imgur.com/CXQmsmF.png" class="logo"> </div>
                <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="card2 card border-0 px-4 py-5">
                
                <form class="form-signin" [formGroup]="changePassForm">
                    <div class="row mb-4 px-2 py-2">
                        <h2>Set your own password</h2>
                     </div>
                    <div class="form-group row px-3">
                       <label class="mb-1">
                          <h6 class="mb-0 text-sm">Email Id</h6>
                       </label>
                       <input formControlName="emailId" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" type="text"  class="form-control"  id="email" placeholder="Enter a valid email address"> 
                       <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                          <div *ngIf="f.emailId.errors.required">User id is required</div>
                          <div *ngIf="f.emailId.errors.pattern">Please enter valid email id</div>
                       </div>
                       
                    </div>
                    <div class="form-group row px-3">
                       <label class="mb-1">
                          <h6 class="mb-0 text-sm">Temporary Password</h6>
                       </label>
                       <input formControlName="tempPassword" [ngClass]="{ 'is-invalid': submitted && f.tempPassword.errors }" class="input form-control" type="password" name="tempPassword" placeholder="Enter password"> 
                       <div *ngIf="submitted && f.tempPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.tempPassword.errors.required">Password is required</div>
                       </div>
                    </div>
                    <div class="form-group row px-3">
                        <label class="mb-1">
                           <h6 class="mb-0 text-sm">New Password</h6>
                        </label>
                        <input formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" class="input form-control" type="password" name="newPassword" placeholder="Enter password"> 
                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                           <div *ngIf="f.newPassword.errors.required">Password is required</div>
                        </div>
                     </div>
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center" (click)="login()">Change</button> </div>
                    <!-- <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a class="text-danger ">Register</a></small> </div> -->
                </form>
                
             </div>
          </div>
       </div>
    </div>
 </div>