<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
       <div class="row d-flex">
          <div class="col-lg-6">
             <div class="card1 pb-5">
                <div class="row"> <img src="https://i.imgur.com/CXQmsmF.png" class="logo"> </div>
                <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
             </div>
          </div>
          <div class="col-lg-6">
            <div class="card2 card border-0 px-4 py-5">
              <form class="form-signin" [formGroup]="getOTPForm">
                <div class="row mb-4 px-2 py-2">
                    <h2>Enter your registered email to get temporary password</h2>
                </div>
                <div class="form-group row px-3">
                    <label class="mb-1">
                        <h6 class="mb-0 text-sm">Email Id</h6>
                    </label>
                    <input formControlName="emailId" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" type="text"  class="form-control"  id="email" placeholder="Enter a valid email address"> 
                    <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                        <div *ngIf="f.emailId.errors.required">Email id is required</div>
                        <div *ngIf="f.emailId.errors.pattern">Please enter valid email id</div>
                    </div>
                </div>
                <div class="row px-3 mb-4">
                    <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> </div>
                    <a class="ml-auto mb-0 text-sm">Forgot register email?</a>
                </div>
                <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center" (click)="login()">Get Temporary Password</button> </div>
              </form>
            </div>
          </div>
       </div>
    </div>
 </div>