table{
    width:100%;border:1px solid #314456;
    background-color: white !important;
 }
 thead{
    font-weight:bold;text-align:center;
 }
 tbody{
    text-align:center;
 }
 td{
    font-size:14px;
 }
 th{
    text-align:center;background-color:#F5F5F5;
 }
 .right-text{
    text-align:right;
 }
 .left-text{
    text-align:left;
 }
 .center-text{
    text-align:center;
 }
 #productTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;border-collapse: collapse;width: 100%;
 }
 #productTable td, #productTable th {
    border: 1px solid #ddd;padding: 4px;
 }
 
 .company-name{
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 40px;margin-top: 10px;
 }