<div class="container" style="border:1px solid black;width:100%;padding:0px;" id="downloadPDF">
    <table style="width:100%;border:1px solid black;font-size:14px !important;color: black;" class="table">
        <tr>
            <td style="font-size:14px;">
                <table class="table" style="width:100%;border:1px solid black;">
                <!-- <tr>
                    <td style="width:20%; text-align:left;"></td>
                    <td style="width:60%; text-align:center;">
                        <b id="devotionalText">{{header}}</b><br>
                        <br>
                                
                    </td>
                    <td style="width:20%; text-align:right;vertical-align: top;">
                        <b>Mob : <span id="MobileNo1">{{warehouseData.ownerContactNumber}}</span> <br> <span id="MobileNo2"></span></b>
                    </td>
                </tr> -->
                <!-- <tr>
                    <td colspan="3" style="text-align:center;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 40px;margin-top: 10px;"> <h2 class="company-name" id="companyName">{{warehouseData.name}}</h2> </td>
                </tr> -->
                <tr>
                    <td colspan="3" style="text-align:center;" id="companyAddress">
                        <span colspan="3" style="text-align:center;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 40px;margin-top: 10px;"> <h2 class="company-name" id="companyName">{{warehouseData.name}}</h2> </span>
                        <span>{{warehouseData.address}}</span><br>
                        <b>Mob : <span id="MobileNo1">{{warehouseData.ownerContactNumber}}</span></b>
                    </td>
                </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size:14px;">
                <table class="table" style="width:100%;border:1px solid #314456;">
                <tr style="width:100%;">
                    <td style="width:50%; text-align:center;">		
                        <b>{{header}}</b>
                    </td>
                    <td style="width:50%; text-align:right;">
                        <b>Sr. No. {{orderDetails.uniqueBillId}}</b>
                    </td>
                </tr>
                <tr style="width:100%;">
                    <td style="width:80%;text-align:left;" class="left-text">
                        M/s. <span id="billedTo">{{orderDetails.vendor.name}}</span><br>
                        <span id="billToUserAddress">{{orderDetails.vendor.emailId}}</span>
                    </td>
                    <td style="width:20%;text-align:left;" class="left-text">
                        Mob. NO. : <span id="billedNo">{{orderDetails.vendor.contactNumber}}</span><br>
                        Date : <span id="billedDate">{{orderDetails.createdAt | date }}</span>
                    </td>
                </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size:14px;">
                <table style="width:100%;border:1px solid #314456;margin-top:5px;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;border-collapse: collapse;width: 100%;" class="table" id="productTable">
                <thead style="font-weight:bold;text-align:center;">
                    <tr>
                        <th colspan="7">Order Summary</th>
                    </tr>
                    <tr style="font-weight:bold;">
                        <th style="text-align: center;background-color:#F5F5F5;border: 1px solid #ddd;padding: 4px;"><strong>Item</strong></th>
                        <th style="text-align: center;background-color:#F5F5F5;border: 1px solid #ddd;padding: 4px;" ><strong>Pkg. Type</strong></th>
                        <ng-container *ngIf="type === 'outward'">
                            <th style="text-align: center;background-color:#F5F5F5;border: 1px solid #ddd;padding: 4px;" ><strong>Msg. By</strong></th>
                            <th style="text-align: center;background-color:#F5F5F5;border: 1px solid #ddd;padding: 4px;" ><strong>D/O Number</strong></th>
                        </ng-container>
                        <th style="text-align: center;background-color:#F5F5F5;border: 1px solid #ddd;padding: 4px;" ><strong>Vehical No</strong></th>
                        <th style="text-align: center;background-color:#F5F5F5;border: 1px solid #ddd;padding: 4px;" ><strong>Contact No</strong></th>
                        <th style="text-align: center;background-color:#F5F5F5;border: 1px solid #ddd;padding: 4px;" ><strong>Quantity</strong></th>
                    </tr>
                </thead>
                <tbody style="text-align:center;"> 
                    <ng-container *ngFor="let product of orderDetails.productDetails">
                        <tr style="border-bottom:1px solid;">
                            <td style="text-align: center;font-size:14px;border: 1px solid #ddd;padding: 4px;" >{{product.name}}</td>
                            <td style="text-align: center;font-size:14px;border: 1px solid #ddd;padding: 4px;" >{{product.packageType}}</td>
                            <ng-container *ngIf="type === 'outward'">
                                <td style="text-align: center;font-size:14px;border: 1px solid #ddd;padding: 4px;" >{{orderDetails.messageBy}}</td>
                                <td style="text-align: center;font-size:14px;border: 1px solid #ddd;padding: 4px;" >{{orderDetails.DONumber}}</td>
                            </ng-container>
                            <td style="text-align: center;font-size:14px;border: 1px solid #ddd;padding: 4px;">{{orderDetails.vehicleNumber}}</td>
                            <td style="text-align: center;font-size:14px;border: 1px solid #ddd;padding: 4px;">{{orderDetails.driverContactNumber}}</td>
                            <td style="text-align: center;font-size:14px;border: 1px solid #ddd;padding: 4px;" >{{product.quantity}}</td>
                        </tr>
                    </ng-container>
                </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size:14px;">
                <table style="width:100%;border:1px solid #314456;">
                <tr>
                    <td style="width:80%; text-align:left;">		
                        Note:-<br>
                        1]Weight and Contain material not checked by us. <br>
                        2] we are not responsible for any shortage and damaged of the material.
                    </td>
                    <td style="width:20%; text-align:left;">		
                        ____________________<br>
                        Authorised Signature
                    </td>
                </tr>
                </table>
            </td>
        </tr>
    </table>
    <ng-container *ngIf="type === 'outward'">
        <table style="width:100%;border:1px solid black;font-size:14px !important;color: black;" class="table">
            <tr>
                <td style="font-size:14px;">
                    <table class="table" style="width:100%;border:1px solid black;">
                    <!-- <tr>
                        <td style="width:20%; text-align:left;"></td>
                        <td style="width:60%; text-align:center;">
                            <b id="devotionalText">{{header}}</b><br>
                            <br>
                                    
                        </td>
                        <td style="width:20%; text-align:right;vertical-align: top;">
                            <b>Mob : <span id="MobileNo1">{{warehouseData.ownerContactNumber}}</span> <br> <span id="MobileNo2"></span></b>
                        </td>
                    </tr> -->
                    <!-- <tr>
                        <td colspan="3" style="text-align:center;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 40px;margin-top: 10px;"> <h2 class="company-name" id="companyName">{{warehouseData.name}}</h2> </td>
                    </tr> -->
                    <tr>
                        <td colspan="3" style="text-align:center;" id="companyAddress">
                            <span colspan="3" style="text-align:center;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 40px;margin-top: 10px;"> <h2 class="company-name" id="companyName">{{warehouseData.name}}</h2> </span>
                            <span>{{warehouseData.address}}</span><br>
                            <b>Mob : <span id="MobileNo1">{{warehouseData.ownerContactNumber}}</span></b>
                        </td>
                    </tr>

                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size:14px;">
                    <table class="table" style="width:100%;border:1px solid #314456;">
                    <tr style="width:100%;">
                        <td style="width:50%; text-align:center;">		
                            <b>{{header}}</b>
                        </td>
                        <td style="width:50%; text-align:right;">
                            <b>Sr. No. {{orderDetails.uniqueBillId}}</b>
                        </td>
                    </tr>
                    <tr style="width:100%;">
                        <td style="width:80%;text-align:left;" class="left-text">
                            M/s. <span id="billedTo">{{orderDetails.vendor.name}}</span><br>
                            <span id="billToUserAddress">{{orderDetails.vendor.emailId}}</span>
                        </td>
                        <td style="width:20%;text-align:left;" class="left-text">
                            Mob. NO. : <span id="billedNo">{{orderDetails.vendor.contactNumber}}</span><br>
                            Date : <span id="billedDate">{{orderDetails.createdAt | date }}</span>
                        </td>
                    </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size:14px;">
                    <table style="width:100%;border:1px solid #314456;margin-top:5px;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;border-collapse: collapse;width: 100%;" class="table" id="productTable">
                    <thead style="font-weight:bold;text-align:center;">
                        <tr>
                            <th colspan="7">Order Summary</th>
                        </tr>
                        <tr style="font-weight:bold;">
                            <th style="text-align: center;background-color:#F5F5F5;border: 1px solid #ddd;padding: 4px;"><strong>Item</strong></th>
                            <th style="text-align: center;background-color:#F5F5F5;border: 1px solid #ddd;padding: 4px;" ><strong>Pkg. Type</strong></th>
                            <ng-container *ngIf="type === 'outward'">
                                <th style="text-align: center;background-color:#F5F5F5;border: 1px solid #ddd;padding: 4px;" ><strong>Msg. By</strong></th>
                                <th style="text-align: center;background-color:#F5F5F5;border: 1px solid #ddd;padding: 4px;" ><strong>D/O Number</strong></th>
                            </ng-container>
                            <th style="text-align: center;background-color:#F5F5F5;border: 1px solid #ddd;padding: 4px;" ><strong>Vehical No</strong></th>
                            <th style="text-align: center;background-color:#F5F5F5;border: 1px solid #ddd;padding: 4px;" ><strong>Contact No</strong></th>
                            <th style="text-align: center;background-color:#F5F5F5;border: 1px solid #ddd;padding: 4px;" ><strong>Quantity</strong></th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;"> 
                        <ng-container *ngFor="let product of orderDetails.productDetails">
                            <tr style="border-bottom:1px solid;">
                                <td style="text-align: center;font-size:14px;border: 1px solid #ddd;padding: 4px;" >{{product.name}}</td>
                                <td style="text-align: center;font-size:14px;border: 1px solid #ddd;padding: 4px;" >{{product.packageType}}</td>
                                <ng-container *ngIf="type === 'outward'">
                                    <td style="text-align: center;font-size:14px;border: 1px solid #ddd;padding: 4px;" >{{orderDetails.messageBy}}</td>
                                    <td style="text-align: center;font-size:14px;border: 1px solid #ddd;padding: 4px;" >{{orderDetails.DONumber}}</td>
                                </ng-container>
                                <td style="text-align: center;font-size:14px;border: 1px solid #ddd;padding: 4px;">{{orderDetails.vehicleNumber}}</td>
                                <td style="text-align: center;font-size:14px;border: 1px solid #ddd;padding: 4px;">{{orderDetails.driverContactNumber}}</td>
                                <td style="text-align: center;font-size:14px;border: 1px solid #ddd;padding: 4px;" >{{product.quantity}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size:14px;">
                    <table style="width:100%;border:1px solid #314456;">
                    <tr>
                        <td style="width:80%; text-align:left;">		
                            Note:-<br>
                            1]Weight and Contain material not checked by us. <br>
                            2] we are not responsible for any shortage and damaged of the material.
                        </td>
                        <td style="width:20%; text-align:left;">		
                            ____________________<br>
                            Authorised Signature
                        </td>
                    </tr>
                    </table>
                </td>
            </tr>
        </table>
    </ng-container>
 </div>

 <div style="justify-content: flex-end;" *ngIf="showButton">
    <button type="button" class="btn btn-blue text-center" (click)="download()">Print</button>
</div>

<div style="justify-content: flex-end;" *ngIf="showButton">
    <button type="button" class="btn btn-blue text-center" (click)="generatePdf()">Download</button>
</div>