<div class="sidebar" data-color="purple" data-background-color="white" data-image="../../../../assets/img/sidebar-3.jpg">
    <div class="logo">
        <a href="#" class="simple-text logo-normal">
            <div class="image-container" style="height: 90px;">
                <img src="../../../../assets/img/wmlogowithtitle2.png" style="width: 300px;margin: -34px -50px -44px -48px;">
            </div>     
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
        <li [ngClass]="(activeScreen == 'Dashboard') ? 'nav-item active' : 'nav-item'">
            <a class="nav-link" [routerLink]="['/warehouse/warehouse-dashboard']">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>
        <li [ngClass]="(activeScreen == 'Inward') ? 'nav-item active' : 'nav-item'">
            <a class="nav-link" [ngClass]="isActive ? 'nav-link' : 'nav-link disableAnchor'" [routerLink]="['/warehouse/warehouse-import']">
                <i class="material-icons">add_circle_outline</i>
                <p>Inward</p>
            </a>
        </li>
        <li [ngClass]="(activeScreen == 'Outward') ? 'nav-item active' : 'nav-item'">
            <a [ngClass]="isActive ? 'nav-link' : 'nav-link disableAnchor'" class="nav-link" [routerLink]="['/warehouse/warehouse-export']" >
                <i class="material-icons">remove_circle_outline</i>
                <p>Outward</p>
            </a>
        </li>
        <li [ngClass]="(activeScreen == 'Vendor') ? 'nav-item active' : 'nav-item'">
            <a [ngClass]="isActive ? 'nav-link' : 'nav-link disableAnchor'" class="nav-link" [routerLink]="['/warehouse/warehouse-vendor']" >
                <i class="material-icons">account_circle</i>
                <p>Add Vendor</p>
            </a>
        </li>
        <li [ngClass]="(activeScreen == 'Product Details') ? 'nav-item active' : 'nav-item'">
            <a [ngClass]="isActive ? 'nav-link' : 'nav-link disableAnchor'" class="nav-link" [routerLink]="['/warehouse/warehouse-product']">
                <i class="material-icons">content_paste</i>
                <p>Add Product</p>
            </a>
        </li>
        <li [ngClass]="(activeScreen == 'Add Packaging Type') ? 'nav-item active' : 'nav-item'">
            <a [ngClass]="isActive ? 'nav-link' : 'nav-link disableAnchor'" class="nav-link" [routerLink]="['/warehouse/warehouse-packaging-type']">
                <i class="material-icons">inventory_2</i>
                <p>Add Packaging Type</p>
            </a>
        </li>
        <li [ngClass]="(activeScreen == 'Report') ? 'nav-item active' : 'nav-item'">
            <a [ngClass]="isActive ? 'nav-link' : 'nav-link disableAnchor'" class="nav-link" [routerLink]="['/warehouse/warehouse-report']">
                <i class="material-icons">library_books</i>
                <p>Report</p>
            </a>
        </li>
        <li>
          <a class="nav-link" (click)='logout()' >
              <i class="material-icons">logout</i>
              <p>Log out</p>
          </a>
        </li>
        
        <!-- <li [ngClass]="(activeScreen == 'aboutUs') ? 'nav-item active' : 'nav-item'">
            <a [ngClass]="isActive ? 'nav-link' : 'nav-link disableAnchor'" class="nav-link" [routerLink]="['/warehouse/warehouse-dashboard']">
            <i class="material-icons">groups</i>
            <p>About Us</p>
            </a>
        </li>
        <li [ngClass]="(activeScreen == 'contactUs') ? 'nav-item active' : 'nav-item'">
            <a [ngClass]="isActive ? 'nav-link' : 'nav-link disableAnchor'" class="nav-link" [routerLink]="['/warehouse/warehouse-dashboard']">
            <i class="material-icons">contact_support</i>
            <p>Contact Us</p>
            </a>
        </li> -->
        </ul>
    </div>
    <div class="sidebar-background" style="background-image: url(../../../../assets/img/sidebar-3.jpg)"></div>
</div>


<script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>