<div id="id01" class="modal" *ngIf="showConfirmModal">
    <div class="modal-content">
        <span (click)="closeModal()" class="close">×</span>
        <div class="container">
            <h1>{{confirmModalObject.headerText}}</h1>
            <p>{{confirmModalObject.bodyText}}</p>
    
            <div class="clearfix">
                <button type="button" class="cancelbtn" (click)="onLeftClick()">{{confirmModalObject.leftBtnText}}</button>
                <button type="button" class="deletebtn" (click)="onRightClick()">{{confirmModalObject.rightBtnText}}</button>
            </div>
        </div>
    </div>
</div>