
<app-Sidebar [activeScreen]="pageName" [isActive]="true"></app-Sidebar>
<div class="main-panel">
  <app-header [pageName]="pageName"></app-header>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="container-fluid">
          <div class="row" style="margin-top: 15px">
             <button type="button" class="btn btn-blue text-center" (click)="showVendorModal()">Add Packaging Type</button> 
          </div> 
          <div style="margin-top: 20px; margin-bottom: 20px" *ngIf="showTable">
             <app-table (onPageChange)="changePage($event)"  (OnDelete)="deletePackage($event)" (OnEdit)="showUpdateModal($event)" [items]="items" [isDelete]="true" [isEdit]="true" [paginationObject]="paginationObject"></app-table>
         </div>
       </div>
       
       <ng-container *ngIf="showNewVendorModal">
         <div class="modal-class fade-class">
             <div class="modal-dialog">
               <div class="modal-content">
               
                 <!-- Modal Header -->
                 <div class="modal-header">
                   <h4 class="modal-title">Add New Packaging Type</h4>
                   <button type="button" class="close" (click)="disableVendorModal()">&times;</button>
                 </div>
                 <!-- Modal body -->
                 <div class="modal-body">
                     <div class="card2 card border-0 px-4 py-5">
                         <form class="form-signin" [formGroup]="productForm">
                             <div class="form-group row px-3">
                               <label class="mb-1">
                                   <h6 class="mb-0 text-sm">Packaging type</h6>
                               </label>
                               <input formControlName="packagingType" [ngClass]="{ 'is-invalid': submitted && f.packagingType.errors }" type="text"  class="form-control"  placeholder="Enter product name"> 
                               <div *ngIf="submitted && f.packagingType.errors" class="invalid-feedback">
                                   <div *ngIf="f.packagingType.errors.required">Please add packaging type</div>
                               </div>
                             </div>
                         </form>
                       </div>
                 </div>
                 <!-- Modal footer -->
                 <div class="modal-footer">
                   <button *ngIf="!isUpdateForm" type="button" class="btn btn-blue text-center" (click)="addPackagingType()">Add</button>
                   <button *ngIf="isUpdateForm" type="button" class="btn btn-blue text-center" (click)="updatePackage()">Update</button>
                 </div>
                 
               </div>
             </div>
           </div>
       </ng-container>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>


