
@media screen and (max-width: 991px) {
    .card2 {
        margin: 0px 0px !important
    }
}

.card2 {
    margin: 0px 0px !important
}

.modal-class {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: scroll;
    outline: 0;
}

.fade-class {
    transition: opacity .15s linear;
}
