<footer class="footer">
    <div class="container-fluid">
      <nav class="float-left">
        <!-- <ul>
          <li>
            <a [routerLink]="['/dw-home']">
              About Us
            </a>
          </li>
        </ul> -->
      </nav>
      <div class="copyright float-right">
        &copy; Copyright <strong><span>warehousemanagmentsystem</span></strong>. All Rights Reserved.<br>
        Designed by <a href="#team">Team</a>
      </div>
    </div>
  </footer>

