<app-Sidebar [activeScreen]="pageName" [isActive]="true"></app-Sidebar>
<div class="main-panel">
  <app-header [pageName]="pageName"></app-header>
  <div class="content">
    <div class="container-fluid">
      <app-confirmation-modal [confirmModalObject]="confirmModalObject" [showConfirmModal]="showConfirmModal"
        (OnLeftClick)="cancelDelete($event)" (OnRightClick)="confirmDelete($event)" ></app-confirmation-modal>
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
                <label>Vendor</label>
                <select class="dropdown_ select" (change)="getImportTransactions($event.target.value)" [(ngModel)]="selectedVendor">
              <option >Select</option>
              <option *ngFor="let vendor of vendorArray" [value]="vendor._id" 
                  [selected]="vendor._id == _id">
                {{vendor?.name}}
              </option>
            </select>
            </div>
            <div class="col-md-3" >
                <label>Product</label>
                <select class="dropdown_ select" (change)="getImportTransactions('',$event.target.value)" [(ngModel)]="selectedProduct">
              <option >Select</option>
              <option *ngFor="let product of productArray" [value]="product._id" 
                  [selected]="product._id == _id">
                {{product?.name}}
              </option>
            </select>
            </div>
            <div style="margin-right: 30px; margin-left: 15px col-md-3">
              <date-range-picker (rangeSelected)="dateChange($event)" autoApply="false"></date-range-picker>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-blue text-center" (click)="showVendorModal()">Create bill</button>
            </div>
            
          </div>
          
          <div style="margin-top: 20px; margin-bottom: 20px" *ngIf="showTable">
            <app-table (OnPageChange)="changePage($event)" (OnDelete)="deleteTransaction($event)" (OnView)="showUpdateModal($event)"
              [items]="items" [isDelete]="true" [isEdit]="false" [isView]="true"
              [paginationObject]="paginationObject"></app-table>
          </div>
        </div>
        <ng-container *ngIf="showNewVendorModal">
          <div class="modal-class fade-class">
            <div class="modal-dialog">
              <div class="modal-content">
        
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Create Import Bill</h4>
                  <button type="button" class="close" (click)="disableVendorModal()">&times;</button>
                </div>
        
                <!-- Modal body -->
                <div class="modal-body">
                  <div class="card2 card border-0 px-4 py-5">
                    <form class="form-signin" [formGroup]="importForm">
                      <div class="form-group row px-3">
                          <label class="mb-1">
                              <h6 class="mb-0 text-sm">Select Vendor</h6>
                          </label>
                        <select formControlName="vendorId" [ngClass]="{ 'is-invalid': submitted && f.vendorId.errors }" type="text"  class="form-control dropdown_ select" (change)="getProducts()" >
                          <option *ngIf="!isUpdateForm" >Select</option>
                          <option *ngIf="isUpdateForm" [value]="selectedVendorId" selected>{{selectedVendorName}}</option>
                          <option *ngFor="let vendor of allVendors" [value]="vendor?._id">
                          {{vendor?.name}}
                          </option>
                        </select>
                        <div *ngIf="submitted && f.vendorId.errors" class="invalid-feedback">
                            <div *ngIf="f.vendorId.errors.required">Please select vendor belongs to this product</div>
                        </div>
                      </div>
                      <div class="form-group row px-3">
                          <label class="mb-1">
                              <h6 class="mb-0 text-sm">Select Packaging Type</h6>
                          </label>
                        <select formControlName="packageType" [ngClass]="{ 'is-invalid': submitted && f.packageType.errors }" type="text"  class="form-control dropdown_ select" (change)="getProducts()">
                          <option *ngIf="!isUpdateForm">Select</option>
                          <option *ngIf="isUpdateForm" [value]="selectedPackageId" selected>{{selectedPackageName}}</option>
                          <option *ngFor="let package of allPackageType" [value]="package?._id">
                          {{package?.packagingType}}
                          </option>
                        </select>
                        <div *ngIf="submitted && f.packageType.errors" class="invalid-feedback">
                            <div *ngIf="f.packageType.errors.required">Please select packaging type</div>
                        </div>
                      </div>
                      <div *ngFor="let item of productData;let i =index; let last = last;" class="form-group">
                        <div class="form-group row px-3">
                          <label class="mb-1">
                            <h6 class="mb-0 text-sm">Select product</h6>
                          </label>
                          <select formControlName="{{item.formControlProduct}}" type="text"
                            class="form-control dropdown_ select">
                            <option *ngIf="!isUpdateForm">Select</option>
                            <option *ngIf="isUpdateForm" [value]="selectedProductId" selected>{{selectedProductName}}</option>
                            <option *ngFor="let product of allProduct" [value]="product?._id">
                              {{product?.name}}
                            </option>
                          </select>
                          <div *ngIf="submitted && item.validation.required">
                            <small class="invalid-feedback d-block text-left">Please fill the field</small>
                          </div>
                        </div>
                        <div class="form-group row px-3">
                          <label class="mb-1">
                            <h6 class="mb-0 text-sm">Quantity</h6>
                          </label>
                          <input formControlName="{{item.formControlQuantity}}" type="number" class="form-control"
                            placeholder="Enter product quantity">
                          <div *ngIf="item.validation">
                            <small class="invalid-feedback d-block text-left">Please fill the field</small>
                          </div>
                        </div>
                        <ng-container>
                          <div *ngIf="last">
                            <button type="button" class="btn text-center" (click)="addProductField()">Add</button>
                          </div>
                          <div *ngIf="!last">
                            <button type="button" class="btn text-center" (click)="removeProductField(i)">Remove</button>
                          </div>
                        </ng-container>
                      </div>
                      <div class="form-group row px-3">
                        <label class="mb-1">
                          <h6 class="mb-0 text-sm">Import Date</h6>
                        </label>
                        <input formControlName="importDate" [ngClass]="{ 'is-invalid': submitted && f.importDate.errors }"
                          type="datetime-local" class="form-control" max="maxDate">
                        <div *ngIf="submitted && f.importDate.errors" class="invalid-feedback">
                          <div *ngIf="f.importDate.errors.required">Please select import date</div>
                        </div>
                      </div>
                      <!-- <div class="form-group row px-3">
                        <label class="mb-1">
                          <h6 class="mb-0 text-sm">Message By</h6>
                        </label>
                        <input formControlName="messageBy" [ngClass]="{ 'is-invalid': submitted && f.messageBy.errors }"
                          type="text" class="form-control" placeholder="Enter name of reference person">
                        <div *ngIf="submitted && f.messageBy.errors" class="invalid-feedback">
                          <div *ngIf="f.messageBy.errors.required">Please add reference party name</div>
                        </div>
                      </div>
                      <div class="form-group row px-3">
                        <label class="mb-1">
                          <h6 class="mb-0 text-sm">D/O Number</h6>
                        </label>
                        <input formControlName="dONumber" [ngClass]="{ 'is-invalid': submitted && f.dONumber.errors }"
                          type="text" class="form-control" placeholder="Enter D/O number">
                        <div *ngIf="submitted && f.dONumber.errors" class="invalid-feedback">
                          <div *ngIf="f.dONumber.errors.required">Please add D/O number</div>
                        </div>
                      </div> -->
                      <div class="form-group row px-3">
                        <label class="mb-1">
                          <h6 class="mb-0 text-sm">Vehicle Number</h6>
                        </label>
                        <input formControlName="vehicleNumber" [ngClass]="{ 'is-invalid': submitted && f.vehicleNumber.errors }"
                          type="text" class="form-control" placeholder="Enter vehicle number">
                        <div *ngIf="submitted && f.vehicleNumber.errors" class="invalid-feedback">
                          <div *ngIf="f.vehicleNumber.errors.required">Please add vehicle number</div>
                        </div>
                      </div>
                      <div class="form-group row px-3">
                        <label class="mb-1">
                          <h6 class="mb-0 text-sm">Driver Contact Number</h6>
                        </label>
                        <input formControlName="driverContactNumber"
                          [ngClass]="{ 'is-invalid': submitted && f.driverContactNumber.errors }" type="number"
                          class="form-control" placeholder="Enter driver contact number">
                        <div *ngIf="submitted && f.driverContactNumber.errors" class="invalid-feedback">
                          <div *ngIf="f.driverContactNumber.errors.required">Please add driver contact number</div>
                        </div>
                      </div>
                      <div class="form-group row px-3">
                        <label class="mb-1">
                          <h6 class="mb-0 text-sm">Is any faulty product</h6>
                        </label>
                          <input style="padding-left: 20px; margin-left: 50px;" type="radio" id="true" name="isFaulty" value="true" (change)="faultyStatus(true)">
                          <label style="padding-left: 10px; padding-right: 10px" for="true">True</label><br>
                          <input style="padding-left: 20px" type="radio" id="false" name="isFaulty" value="false" (change)="faultyStatus(false)" checked>
                          <label style="padding-left: 10px; padding-right: 10px" for="age2">False</label><br>
                      </div>
                      <div *ngIf="displayFaulty">
                        <div *ngFor="let item of faultyProductData;let i =index; let last = last;" class="form-group">
                          <div class="form-group row px-3">
                            <label class="mb-1">
                              <h6 class="mb-0 text-sm">Select faulty product</h6>
                            </label>
                            <select formControlName="{{item.formControlProduct}}" type="text"
                              class="form-control dropdown_ select">
                              <option *ngIf="!isUpdateForm">Select</option>
                              <option *ngIf="isUpdateForm" [value]="selectedProductId" selected>{{selectedProductName}}</option>
                              <option *ngFor="let product of allFaultyProduct" [value]="product?._id">
                                {{product?.name}}
                              </option>
                            </select>
                            <div *ngIf="submitted && item.validation.required">
                              <small class="invalid-feedback d-block text-left">Please fill the field</small>
                            </div>
                          </div>
                          <div class="form-group row px-3">
                            <label class="mb-1">
                              <h6 class="mb-0 text-sm">Quantity</h6>
                            </label>
                            <input formControlName="{{item.formControlQuantity}}" type="text" class="form-control"
                              placeholder="Enter product quantity">
                            <div *ngIf="item.validation">
                              <small class="invalid-feedback d-block text-left">Please fill the field</small>
                            </div>
                          </div>
                          <ng-container>
                            <div *ngIf="last">
                              <button type="button" class="btn text-center" (click)="addFaultyProductField()">Add</button>
                            </div>
                            <div *ngIf="!last">
                              <button type="button" class="btn text-center" (click)="removeFaultyProductField(i)">Remove</button>
                            </div>
                          </ng-container>
                        </div>
                        <div class="form-group row px-3">
                          <label class="mb-1">
                            <h6 class="mb-0 text-sm">Upload image</h6>
                          </label>
                        </div>
                        <input type="file" id="myfile" name="myfile" multiple accept="image/*" (change)="selectFile($event)"><br><br>
                      </div>
                    </form>
        
                  </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button *ngIf="!isUpdateForm" type="button" class="btn btn-blue text-center" (click)="addBill()">Add</button>
                  <button *ngIf="isUpdateForm" type="button" class="btn btn-blue text-center" (click)="updateBill()">Update</button>
                </div>
        
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="showTransactionDetails">
          <div class="modal-class fade-class" #content id="print">
            <div class="modal-dialog" style="min-width: 100%; height: 100%; margin: 0; padding: 0;" >
            <div class="modal-content" style="height: auto;min-height: 100%; border-radius: 0;">
                <div class="modal-header">
                  <button type="button" class="close" (click)="disableDetailsModal()">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="card2 card border-0 px-4 py-5">
                    <app-invoice [orderDetails]="updateDetails" [showButton]="showButton" [header]="invoiceHeader" [type]='inward'></app-invoice>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>


