<div>
    <div #content>
        <div class="container">
            <div class="row">
                <div class="invoice-title col-md-12 text-center" style="display: inline-block; text-align: center">
                    <h2><p class="text-center" style="text-align: center">INVOICE</p></h2>
                </div>
            </div>
            <div class="row">	
                <hr>
                <div class="col-md-2">
                    <!-- <span id="warehouseLogo">
                        <img src="../../../../assets/OmLogistic.png" width="180" height="150">
                    </span>	 -->
                </div>
                <div class="col-md-8" style="text-align: right">
                    <strong><p class="text-center" style="text-align: center" id="warehouseName">{{warehouseData.name}}</p>
                    <p class="text-center" style="text-align: center" id="warehouseAdd">{{warehouseData.address}}</p></strong>
                </div>
                <div class="col-md-2 text-right" style="text-align: right">
                    <strong>Mob: </strong><span id="billToUserName">{{warehouseData.ownerContactNumber}}</span>
                </div>
            </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td style="text-align: center"><strong>Product Name</strong></td>
                                        <td style="text-align: center"><strong>Quantity</strong></td>
                                        <td style="text-align: center" ><strong>Vendor</strong></td>
                                        <td style="text-align: center" ><strong>DO Number</strong></td>
                                        <td style="text-align: center" ><strong>Vehicle Number</strong></td>
                                        <td style="text-align: center" ><strong>Date</strong></td>
                                        <td style="text-align: center" ><strong>Action Type</strong></td>
                                        <td style="text-align: center"><strong>Balance Qty</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let product of reportData">
                                        <tr>
                                            <td style="text-align: center" >{{product['Product Name']}}</td>
                                            <td style="text-align: center" >{{product.Quantity}}</td>
                                            <td style="text-align: center" >{{product.Vendor}}</td>
                                            <td style="text-align: center" >{{product.DONumber}}</td>
                                            <td style="text-align: center" >{{product.VehicleNumber}}</td>
                                            <td  style="text-align: center">{{product.Date}}</td>
                                            <td style="text-align: center" >{{product.ActionType}}</td>
                                            <td style="text-align: center" >{{product['Balance Qty']}}</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


