<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
       <div class="row d-flex">
          <div class="col-lg-6">
            <div class="card1 pb-5">
               <div class="row"> <img src="../../../../assets/img/wmlogowithtitle3.png" class="logo"> </div>
               <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img
                       src="../../../../assets/img/wlogin.png" class="image"> </div>
           </div>
          </div>
          <div class="col-lg-6">
             <div class="card2 card border-0 px-4 py-5">
                
                <form class="form-signin" [formGroup]="loginForm">
                    <div class="row mb-4 px-2 py-2">
                        <h2>Login to your account</h2>
                     </div>
                    <!-- <div class="dropdown row px-3 mb-4">
                        <button type="button" class="btn-dropDown btn-blue dropdown-toggle" data-toggle="dropdown" formControlName="warehouse">
                          {{selectedWareHouse}}
                        </button>
                        <div class="dropdown-menu">
                          <span class="dropdown-item" (click)='selectWarehouse("warehouse 1")' >Warehouse 1</span>
                          <span class="dropdown-item" (click)='selectWarehouse("warehouse 2")'>Warehouse 2</span>
                          <span class="dropdown-item" (click)='selectWarehouse("warehouse 3")'>Warehouse 3</span>
                        </div>
                      </div> -->
                    <div class="form-group row px-3">
                       <label class="mb-1">
                          <h6 class="mb-0 text-sm">Email Id</h6>
                       </label>
                       <input formControlName="userId" [ngClass]="{ 'is-invalid': submitted && f.userId.errors }" type="text"  class="form-control"  id="email" placeholder="Enter a valid email address"> 
                       <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
                          <div *ngIf="f.userId.errors.required">User id is required</div>
                          <div *ngIf="f.emailId.errors.pattern">Please enter valid email id</div>
                       </div>
                       
                    </div>
                    <div class="form-group row px-3">
                       <label class="mb-1">
                          <h6 class="mb-0 text-sm">Password</h6>
                       </label>
                       <input formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="input form-control" type="password" name="password" placeholder="Enter password"> 
                       <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                       </div>
                    </div>
                    <div class="row px-3 mb-4">
                       <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> </div>
                       <a [routerLink]="['/login/forgot-password']" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                    </div>
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center" (click)="login()">Login</button> </div>
                    <!-- <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a class="text-danger ">Register</a></small> </div> -->
                    <div class="row mb-4 px-3"> <small class="font-weight-bold"><a
                      [routerLink]="['/login/change-password']" class="text-warning ">Login with temporary password</a></small>
                    </div>
                </form>
                
             </div>
          </div>
       </div>
    </div>
 </div>