<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
       <div class="row d-flex">
          <div class="col-lg-6">
             <div class="card1 pb-5">
                <div class="row"> <img src="https://i.imgur.com/CXQmsmF.png" class="logo"> </div>
                <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="card2 card border-0 px-4 py-5">
                
                <form class="form-signin" [formGroup]="registerWarehouseForm">
                    <div class="row mb-4 px-2 py-2">
                        <h2>Hey, please fill your warehouse details and request for access</h2>
                     </div>
                    <div class="form-group row px-3">
                       <label class="mb-1">
                          <h6 class="mb-0 text-sm">Warehouse Name</h6>
                       </label>
                       <input formControlName="wareHouseName" [ngClass]="{ 'is-invalid': submitted && f.wareHouseName.errors }" type="text"  class="form-control"  placeholder="Enter warehouse name"> 
                       <div *ngIf="submitted && f.wareHouseName.errors" class="invalid-feedback">
                          <div *ngIf="f.wareHouseName.errors.required">Please add warehouse name</div>
                       </div>
                       
                    </div>
                    <div class="form-group row px-3">
                        <label class="mb-1">
                           <h6 class="mb-0 text-sm">Owner Name</h6>
                        </label>
                        <input formControlName="ownerName" [ngClass]="{ 'is-invalid': submitted && f.ownerName.errors }" type="text"  class="form-control"  placeholder="Enter owner name"> 
                        <div *ngIf="submitted && f.ownerName.errors" class="invalid-feedback">
                           <div *ngIf="f.ownerName.errors.required">Please add owner name</div>
                        </div>
                        
                     </div>
                     <div class="form-group row px-3">
                        <label class="mb-1">
                           <h6 class="mb-0 text-sm">Owner contact number</h6>
                        </label>
                        <input formControlName="ownerContactNumber" [ngClass]="{ 'is-invalid': submitted && f.ownerContactNumber.errors }" type="number"  class="form-control"  placeholder="Enter contact number"> 
                        <div *ngIf="submitted && f.ownerContactNumber.errors" class="invalid-feedback">
                           <div *ngIf="f.ownerContactNumber.errors.required">Please add owner contact number</div>
                        </div>
                        
                     </div>
                     <div class="form-group row px-3">
                        <label class="mb-1">
                           <h6 class="mb-0 text-sm">Owner email id</h6>
                        </label>
                        <input formControlName="ownerEmailId" [ngClass]="{ 'is-invalid': submitted && f.ownerEmailId.errors }" type="text"  class="form-control"  placeholder="Enter a valid email address"> 
                        <div *ngIf="submitted && f.ownerEmailId.errors" class="invalid-feedback">
                           <div *ngIf="f.ownerEmailId.errors.required">Please add email address</div>
                           <div *ngIf="f.ownerEmailId.errors.pattern">Please enter valid email id</div>
                        </div>
                        
                     </div>
                     <div class="form-group row px-3">
                        <label class="mb-1">
                           <h6 class="mb-0 text-sm">Address</h6>
                        </label>
                        <input formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" type="text"  class="form-control"   placeholder="Enter warehouse address"> 
                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                           <div *ngIf="f.address.errors.required">Please provide address</div>
                        </div>
                        
                     </div>
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center" (click)="requestAccess()">Request</button> </div>
                </form>
                
             </div>
          </div>
       </div>
    </div>
 </div>