/* You can add global styles to this file, and also import other style files */
.fab {
    font-family: "Font Awesome 5 Brands" !important;
}
.fa-phone-volume:before {
    content: "\f2a0";
}
.fa-phone:before {
    content: "\f095";
}
.fa-map-marker-alt:before {
    content: "\f3c5";
}
.fa, .fas {
    font-weight: 900 !important;
}
.far{
    font-weight: 400 !important;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free" !important;
}