.cardStyle {
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
    background-color: lightblue;
}

.disableAnchor {
    pointer-events: none;
}